body {
  margin: 0;
  background-color: #ddd;
}

nav li {
  display: inline-block;
}

nav {
  background-color: #087d8e;
}

nav li a {
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 18px;
  font-family: "open sans", sans-serif;
}

nav ul {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 50px;
  margin: 0;
  font-family: "Open Sans";
  text-align: center;
  font-weight: bold;
  padding: 25px;
}

nav ul li a:hover {
  color: red;
}

.hero-title {
  padding-top: 300px;
  color: #fff;
  font-size: 50px;
  text-align: center;
  font-family: "Kadwa", serif;
}

.hero {
  background: url(https://ps-curriculum-images.s3.amazonaws.com/durm-life-background.jpg)
    no-repeat center fixed;
  background-size: cover;
  height: 700px;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: "Open Sans";
  margin-bottom: 5px;
  font-size: 18px;
}

section {
  background-color: #ddd;
}

.column {
  float: left;
  width: 33.333%;
}

@media (max-width: 700px) {
  .column {
    width: 100%;
  }
}

.food img {
  width: 100%;
}

.row {
  clear: both;
}

.column-inner {
  padding: 20px;
}
